* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.output-box {
		background-color:#F6F6F6;
		display: inline-block;
    border: 1px solid black;
		position: absolute;
    z-index: 91;
		margin: 1px;
}

.pedal-board {
		min-height: 150px;
		min-width: 300px;
}

.full-width {
		width: 100%;
}

.menu-icon {
   height: 11px;
   margin-left: 4px;
	 cursor: pointer;
}

.close-button {
    color: #999;
		border: 1px solid #bbb;
		border-radius: 5px;
		background-color: #fff;
    height: 18px;
    line-height: 17px;
    width: 17px;
    text-align: center;
}

.renameable {
		cursor: pointer;
}

.renameable:hover {
		text-decoration: underline;
}

#boards-area {
		margin-bottom: 25px;
}

#information-output, 
#boards-area {
		width: 100%;
}

.output-box > *:not(.ui-resizable-handle) {
    padding: 10px;
		width: 100%;
}

.output-box > .header {
		margin: 0;
		background-color:#E8E8E8;
		background-image:linear-gradient(to bottom,#ededed,#ddd);
		border-bottom:1px solid #A2A2A2;
    line-height: 1em;
  	color: black;
   	font-weight: bold;
}

.single-pedal-data {
    background-color: #eee;
		border-radius: 5px;
		border: 1px solid #ddd;
		padding: 4px;
}

.single-pedal-data:not(:last-child) {
    margin-bottom: 4px;
}

.output-box > .header > .add,
.output-box .add-pedal {
    font-size: 2em;
		cursor: pointer;
    color: #999;
		float: right;
    padding-left: 10px;
}

.output-box > .header > h2 {
    display: inline;
}

h2 {
	 margin: 0;
}

#content-container {
	  margin-top: 37px;
}

.fixed {
	  position: fixed;
}

header.fixed {
	  top: 0;
	  left: 0;
	  width: 100%;
	  background-color: #fff;
	  border-bottom: 1px solid #777;
}

header > #add-new-board-box {
	  border-left: 1px solid #777;
    padding: 2px;
}

header > .site-title {
	 padding: 7px;
	 font-weight: normal;
	 text-decoration: none;
	 color: #444;
	 font-size: 2em;
	 float: left;
   font-weight: normal;
	 text-align: center;
   line-height: 1em;
	 border-right: 1px solid #777
}

button {
    border: 1px solid black;
		background: #F7F6F6;
		color: #333;
	  font-weight: bold;
    font-size: 1em;
		padding: 6px;
		margin: 3px;
		cursor: pointer;
}

button:active {
    box-shadow: none;
		background: #EFEFEF;
}

.float-right {
		float: right;
}


.float-center {
		margin: 0 auto;
		width: 100%;
		margin-bottom: 10px;
}

.shadowed {
    box-shadow: 0 4px 5px 1px rgba(0,0,0,0.14);
}

.add-error-display {
    width: 250%;
		color: red;
    clear: both;
		display: none;
}

.add-error-display.visible {
    display: block;
	  padding-top: 4px;
}

.footer {
	  border-top: 1px solid black;
}

.pedal-search {
		padding: 0;
		width: 250px;
		border: 1px solid black;
}

body {
		font-family: Helvetica,Tahoma,Sans-Serif;
    font-size: 11px;
    background-color: #fdfdfd;
}

.pedal-info > div {
		display: inline-block;
		margin-right: 5px; 
		min-width: 33px;
}

.custom-options-menu {
		overflow-x: hidden;
}

.ui-widget-content.ui-autocomplete.ui-menu {
    background-color: #fff !important; /* important is bad, but the */
		background-image: none !important; /* jquery ui css looks worse */
}

.ui-widget-content.ui-autocomplete.ui-menu > .ui-menu-item.ui-state-focus {
    background-image: none !important; 
		background-color: #F8FC61 !important;
		border-radius: 4px;
		margin: 2px; 
		padding: 2px;
}

.ui-draggable-handle {
    cursor: pointer;
}

.flipped {
    transform: rotate(180deg);
}

svg, img {
    transition: transform .3s ease;
}

.options-menu {
    background: #fff;
    border-radius: 3px;
    left: -42px;
    min-width: 180px;
    padding: 5px 0;
    position: absolute;
    top: 40px;
    z-index: 1001;
}

.options-menu:before {
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 9px;
    content: " ";
    left: 50%;
    margin-left: -9px;
    position: absolute;
    top: -18px;
}

a, a:visited {
    color: #4183c4;
    text-decoration: none;
}

.options-menu > * {
    display: block;
    font-size: 13px;
    padding: 5px 15px;
}

.options-menu > *:hover {
    background: #4183c4;
    color: #fff;
}